In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

In [ ]:
%sql SELECT * FROM songplays LIMIT 5;

In [ ]:
%sql SELECT * FROM users LIMIT 5;

In [ ]:
%sql SELECT * FROM songs LIMIT 5;

In [ ]:
%sql SELECT * FROM artists LIMIT 5;

In [ ]:
%sql SELECT * FROM time LIMIT 5;

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [33]:
import psycopg2
from sql_queries import create_table_queries, drop_table_queries
import pandas as pd
import os


def create_database():
    """
    - Creates and connects to the sparkifydb
    - Returns the connection and cursor to sparkifydb
    """
    
    # connect to default database
    conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    # create sparkify database with UTF8 encoding
    cur.execute("DROP DATABASE IF EXISTS sparkifydb")
    cur.execute("CREATE DATABASE sparkifydb WITH ENCODING 'utf8' TEMPLATE template0")

    # close connection to default database
    conn.close()    
    
    # connect to sparkify database
    conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
    cur = conn.cursor()
    
    return cur, conn

def connect_to_database():
    """
    This connects to the db
    """
    # connect to sparkify database
    conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
    cur = conn.cursor()
    
    return cur, conn

#cur, conn = create_database()

cur, conn = connect_to_database()

# DROP TABLES
songplay_table_drop = "DROP TABLE IF EXISTS songplays"
user_table_drop = "DROP TABLE IF EXISTS users"
song_table_drop = "DROP TABLE IF EXISTS songs"
artist_table_drop = "DROP TABLE IF EXISTS artists"
time_table_drop = "DROP TABLE IF EXISTS time"

# CREATE TABLES

# #1. song_play
# try: 
#     songplay_table_create = ("""
#                             CREATE TABLE IF NOT EXISTS songplays (songplay_id int, start_time datetime, user_id int, level varchar, song_id int, artist_id int, session_id int, location varchar, user_agent varchar);
#                             """)
#     cur.execute(songplay_table_create)
# except psycopg2.Error as e: 
#     print("Error: Issue creating table")
#     print (e)
    
#2. songs
try: 
    song_table_create = ("""
                        CREATE TABLE IF NOT EXISTS songs (song_id varchar, title varchar, artist_id varchar, year int, duration int);
                        """)
    cur.execute(song_table_create)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

# #3. users
# try: 
#     user_table_create = ("""
#                         CREATE TABLE IF NOT EXISTS users (user_id int, first_name varchar, last_name varchar, gender varchar, level varchar);
#                         """)
#     cur.execute(user_table_create)
# except psycopg2.Error as e: 
#     print("Error: Issue creating table")
#     print (e)
    
# #4. artists
# try: 
#     artist_table_create = ("""
#                         CREATE TABLE IF NOT EXISTS artists (artist_id int, name varchar, location varchar, latitude varchar, longitude varchar);
#                         """)
#     cur.execute(artist_table_create)
# except psycopg2.Error as e: 
#     print("Error: Issue creating table")
#     print (e)
    

# #5. time
# try: 
#     time_table_create = ("""
#                         CREATE TABLE IF NOT EXISTS time (start_time time, hour int, day int, week int, month int, year int, weekday varchar);
#                         """)
#     cur.execute(time_table_create)
# except psycopg2.Error as e: 
#     print("Error: Issue creating table")
#     print (e)

In [29]:
cur.execute("SELECT * FROM songs ")
cur.fetchall()

[('SOAOIBZ12AB01815BE',
  'I Hold Your Hand In Mine [Live At Royal Albert Hall]',
  'ARPBNLO1187FB3D52F',
  2000,
  43)]

In [15]:
def get_data_files(directory_path):
    """
    This outputs a  list of all the json files in a directory
    """
    filelist = os.listdir(directory_path)
    filelist_df = pd.DataFrame(filelist, columns = ['filename'])
    filelist_df['file_path'] = directory_path + filelist_df['filename']

    #removing non-json files
    filelist_df = filelist_df[filelist_df['filename'].str.contains("json")]
    
    return filelist_df


combined_filelist_df = pd.DataFrame()

#Getting data from path data/song_data/A/A/A
directory_path = "data/song_data/A/A/A/"
filelist_df = get_data_files(directory_path)
combined_filelist_df = combined_filelist_df.append(filelist_df)
combined_filelist_df.reset_index(drop=True, inplace = True)

#Getting data from path data/song_data/A/A/B
directory_path = "data/song_data/A/A/B/"
filelist_df = get_data_files(directory_path)
combined_filelist_df = combined_filelist_df.append(filelist_df)
combined_filelist_df.reset_index(drop=True, inplace = True)

#Getting data from path data/song_data/A/A/C
directory_path = "data/song_data/A/A/C/"
filelist_df = get_data_files(directory_path)
combined_filelist_df = combined_filelist_df.append(filelist_df)
combined_filelist_df.reset_index(drop=True, inplace = True)

#Getting data from path data/song_data/A/A/A
directory_path = "data/song_data/A/B/A/"
filelist_df = get_data_files(directory_path)
combined_filelist_df = combined_filelist_df.append(filelist_df)
combined_filelist_df.reset_index(drop=True, inplace = True)

#Getting data from path data/song_data/A/A/B
directory_path = "data/song_data/A/B/B/"
filelist_df = get_data_files(directory_path)
combined_filelist_df = combined_filelist_df.append(filelist_df)
combined_filelist_df.reset_index(drop=True, inplace = True)

#Getting data from path data/song_data/A/A/C
directory_path = "data/song_data/A/B/C/"
filelist_df = get_data_files(directory_path)
combined_filelist_df = combined_filelist_df.append(filelist_df)
combined_filelist_df.reset_index(drop=True, inplace = True)

combined_filelist_df.head()

#Loading the data
combined_song_data_df = pd.DataFrame()
count=0
for path in combined_filelist_df['file_path']:
    data_df = pd.read_json(path, lines=True)
    combined_song_data_df = combined_song_data_df.append(data_df)
    count+=1
    #print(f"Processing {count} of {len(combined_filelist_df)}", end ="/r")
    
combined_song_data_df.info()

                  filename                                     file_path
0  TRAAAAW128F429D538.json  data/song_data/A/A/A/TRAAAAW128F429D538.json
1  TRAAAVG12903CFA543.json  data/song_data/A/A/A/TRAAAVG12903CFA543.json
2  TRAAARJ128F9320760.json  data/song_data/A/A/A/TRAAARJ128F9320760.json
3  TRAAAPK128E0786D96.json  data/song_data/A/A/A/TRAAAPK128E0786D96.json
4  TRAAABD128F429CF47.json  data/song_data/A/A/A/TRAAABD128F429CF47.json

In [34]:
#Creating the dimension tables

#Creating the songs demension table
songs_df = combined_song_data_df[['song_id', 'title', 'artist_id', 'year', 'duration']].drop_duplicates()
songs_df.sort_values(by=['song_id', 'title'], inplace = True)

#inserting the data
for index, row in songs_df.iterrows():
    #Insert into all tables 
    try: 
        cur.execute("INSERT INTO songs (song_id, title, artist_id, year, duration) \
                     VALUES (%s, %s, %s, %s, %s)", \
                     (row['song_id'], row['title'], row['artist_id'], row['year'], row['duration']))
    except psycopg2.Error as e: 
        print("Error: Inserting Rows")
        print (e)
        
#checking the data
cur.execute("SELECT * FROM songs ")
no_of_entries = len(cur.fetchall())
print(f"Uploaded {no_of_entries} entries into the songs table")

Uploaded 71 entries into the songs table

In [35]:
combined_song_data_df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARD7TVE1187B99BFB1,NaN,California - LA,NaN,Casual,218.93179,1,SOMZWCG12A8C13C480,I Didn't Mean To,0
0,ARNTLGG11E2835DDB9,NaN,,NaN,Clp,266.39628,1,SOUDSGM12AC9618304,Insatiable (Instrumental Version),0
0,AR8ZCNI1187B9A069B,NaN,,NaN,Planet P Project,269.81832,1,SOIAZJW12AB01853F1,Pink World,1984
0,AR10USD1187B99F3F1,NaN,"Burlington, Ontario, Canada",NaN,Tweeterfriendly Music,189.57016,1,SOHKNRJ12A6701D1F8,Drop of Rain,0
0,ARMJAGH1187FB546F3,35.14968,"Memphis, TN",-90.04892,The Box Tops,148.03546,1,SOCIWDW12A8C13D406,Soul Deep,1969